name: featurestar
description: A star rating package with features
version: 1.0.0
author: Burak Taban
homepage: https://github.com/buraktabn/featurestar

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: